* {
    margin:0;
    padding:0;
    list-style:none;
}

body {
    display:static;
    height:100vh;
    background:black;
    background-image:url(./pics/apocalypsespace.jpg);
    background-size:cover;
}

.topnav a {
    color: rgba(255,255,255,0.5);
    padding:30px;
    text-decoration:none;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;

}

.topnav {
    margin:5px;
    padding:0;
    position:absolute;
    width:100%;
    box-sizing: border-box;
}

.search-bar {
    position:relative;
    color:#fff;
    margin:7px;
    float:right;
    background: rgba(0,0,0,0.5);
}

.search-bar input[type="search"]
{
    background: rgba(0,0,0,0.5);
}

a:hover {
    color:aliceblue;
}
.button input[type="search"]
{
    color:black;
}

button:hover {
    background:rgb(248, 228, 50);
    border:2px solid rgb(252, 185, 39);
    box-shadow: 0px 0px 50px orange;
}
.social-icons {
    margin:0;
    padding:0;
    margin-top:190px;

}
.social-icons i{
    margin:0;
    position: sticky;
    padding:0;
   
    
}

ul li {
    margin:0;
    padding:8px;
    position:relative;
    display:inline-flexbox;
    color:#666;
    font-size: 25px;
    height:50px;
    width:50px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    line-height:50px;
    border-radius: 50%;
    margin:10px 15px;
    cursor:pointer;
}

ul li:before {
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    text-align: center;
    border-radius:50%;
    z-index:1;
    transform:scale(0.9);
    transition: .5s;
}

ul li:nth-child(1):before {
    background:rgba(0,0,0,0.5);
}

ul li:nth-child(2):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(3):before {
    background:rgba(0,0,0,0.5)
}

ul li:nth-child(4):before {
    background:rgba(0,0,0,0.5);
}

ul li:hover {
    
    transform:scale(1.1);
    
}

ul li:nth-child(1):hover {
    
    color:lightblue;
    box-shadow: 0 0 5px lightblue;
    text-shadow: 0 0 5px lightblue;
}

ul li:nth-child(2):hover {
    color:blue;
    box-shadow: 0 0 5px blue;
    text-shadow: 0 0 5px blue;
}

ul li:nth-child(3):hover {
    color:pink;
    box-shadow: 0 0 5px pink;
    text-shadow: 0 0 5px pink;
}

ul li:nth-child(4):hover {
    color:purple;
    box-shadow: 0 0 5px purple;
    text-shadow: 0 0 5px purple;
}

.social-icons a {
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}